.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-icon {
  width: 40px;
}

.chat-message-text {
  background-color: rgb(238,238,238);
  border-radius: 10px;
  padding: 15px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}